img {
	width: 30%;
	height: 45%;
	border: 1px solid black;
	float: left;
	margin: 1%;
}
body {
	background: #005599;
}
h1{
	background: white;
	width: 50%;
	border-bottom: 2px solid black;
	font-family: Spectral;
	text-align: center;
	margin-left: 23%;
	font-weight: 800;
	font-size: 50px;
	border-width: 40%;
	padding-bottom: 1px;
}